.create-form{
    padding: 30px 15px;
}
.create-form input:focus{
    border: #EAC926 1px solid;
}
.control-form{
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    /* border: solid 10px green; */
}  
.control-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.control-form input {
    width: 70%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}
.botones{
    margin: auto;
    text-align: center;
    width: 70%;
    /* border: solid 10px blue; */
}
.botones button{
    display: inline-block;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #0c80e6;
}
.botones:hover button{
    color: white;
    background-color: #0044AA;
    border: none;
}

@media (min-width: 361px) { 
    .create-form{
        margin: auto;
        background-color: #ebebeb;
        /* border: solid 2px #fff;
        border-radius: 10px; */
    }    
}

@media (min-width: 768px) { 
    .create-form{
        width: 50%;
    }    
}