.create-form{
    padding: 20px 15px;
}
.control-form{
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    /* border: solid 10px green; */
}  
.control-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    font-weight: 600;
}
.control-form input {
    width: 60%;
}
.botones{
    margin: auto;
    text-align: center;
    width: 60%;
    /* border: solid 10px blue; */
}
.botones button{
    display: inline-block;
    width: 80%;
    height: 25px;
    color: white;
    background-color: #0044AA;
    border-radius: 5px;
    border: none;
}
.botones:hover button{
    background-color: #0022AA;
}