.body{
    background-color: white;
}
.create-form{
    padding: 20px 15px;
}
.control input:focus{
    border: #EAC926 1px solid;
}

h2{
    font-size: 20px;
    text-align: center;
}

.control-form{
    margin-bottom: 15px;
    width: 100%;
    /* border: solid 10px green; */
}  

.control-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 15px;
    font-weight: 600;
}

.control-form p label{
    display: inline-block;
    font-weight: normal;
}

.control-form p {
    margin-bottom: 5px;
    padding-left: 10px;
}
.control-form input{
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
}
.control-form #perfil{
    background-color: #ebebeb;
}
.message{
    text-align: center;
    padding-bottom: 10px;
    /* display: none; */
    /* border: dotted 1px blue; */
}
.message p{
    width: 60%;
    font-size: 16px;
    background-color: #ebebeb;
    color: #ebebeb;
    margin: auto;
    height: 22px;
    border-radius: 5px;
    align-content: center;
    /* 
    border: dotted 2px green; */
    /* display: none; */
}
.radios{
    margin: auto;
    text-align: center;
    width:350px;
    /* border: solid 10px blue; */
}
.radios label{
    display: inline-block;
    font-weight: normal;
    margin: 0 15px;
    box-sizing: border-box;
}
.control{
    width: 100%;
    height: 40px;
}

.botones{
    margin: auto;
    text-align: center;
    width:100%;
    /* border: solid 2px blue; */
    display: flex;
    justify-content: space-evenly;
}
.botones button{
    /* display: inline-block; */
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border-width: 0.2px;
    color: white;
    background-color: #0c80e6;
}
.botones button:hover{
 background-color: #0022AA; 
 color: white;  
}

@media (min-width: 361px) { 
    .create-form{
        margin: auto;
        background-color: #ebebeb;
        border: solid 2px #fff;
        border-radius: 10px;
    }    
}
@media (min-width: 768px) { 
    .create-form{
        width: 50%;
    }    
}