*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}
 /*HEADER*/
header{
    background-color: #EAC926;
    padding: 20px;
    
}
.logo{
    width: 33%;
    /* margin-bottom: 5px; */
    display: inline-block;
}
.search-container{
    /* margin-bottom: 10px;
    width: 50%;
    display: inline-block; */
    border: dotted 4px red;
    margin-left: 10px;
    padding-top: 25px;
    width: 40%;
}
.search-container form{
    display: flex;
}
.search-button button{
    background-color: white;
    background-color: transparent;
    border: none;
}
.search-button{
    margin-left: -18px;
}
.search-bar{
    padding-left: 10px;
}
.search-bar input{
    width: 100%;
    height: 3vh;
    border-radius: 5px;
    border: solid 1px white;
}

.top-header{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
}
.copy-header{
    text-align: center;
}
header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    /* outline: none; */
    color: #666;
    width: 25%;
    /* padding: 2px; */
}
.main-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.burger-menu{
    display: block;
    background-color: #1259c3;
    color: white;
    text-align: center;
    margin: auto;
    width: 40px;
    padding: 6px 0;
    border-radius: 5px;
    font-size: 18px;
}
/* MAIN */
main{
    width: 90%;
    margin: auto;
}
article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 10px;
    box-sizing:border-box;
}
section.banner img{
    width: 100%;
}
main section article{
    background-color: #fff;
    border-radius: 25px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #ebebeb; */
    margin-bottom: 10px;
    padding: 10px;
    transition: box-shadow 450ms;
}
main section article img{
    width: 100%;
}
/* .price, .discount{
    display: inline-block;
} */
.price{
    font-size: 18px;
    flex-grow: 0.30;
}
.discount{
    flex-grow: 0.70;
}
.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}
h3,
.description{
    color: #666;
}
h4{
    font-size: 24px;
}
.pie{
    background-color: white;
    border: solid 5px blue;
}
.pie-cajas{
    padding-top: 0px;
    text-align: center;
    border: solid 5px yellow;
}
.pie h4{
    font-size: 22px;
    color: #666;
    margin: 0px;
    padding: 0px;
}
.pie p{
    color: #666;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 10px;
}
.icon1{
    font-size: 40px;
    color: #1259c3;
    margin: 5px;
    padding-top: 45px;
}
.main-article{
    border: dotted 2px red;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}
main section article i,
.discount{
    color: #39b54a;
}
.main-article h3{
    display: block;
}
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 450ms;
}
/* .products article i{
    border-style: solid;
    border-width: 1px;
    border-color: #39b54a;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
} */
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main h3{
    text-align: center;
    margin-bottom: 10px;
}
.description{
    display: none;
    /* transition: display 950ms; */
}
main section article:hover .description{
    display: block;
}
main section article:hover i{
    transform: rotate(-90deg);   
}
header nav{
    display: none;
}

@media (min-width: 361px) { 
    .products article{
        width: 49%;
    }
    .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: flex-start; */
    }
    
    /* .description{
        display: block;
    } */
    header nav{
        display: block;
    }
    .burger-menu{
        display: none;
    }
}
@media (min-width: 768px) {  
    .products article{
        width: 24%;
    }  
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copy-header{
        max-width: 200px;
        text-align: right;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .pie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: flex-start; 
        ARREGLA EL FOOTER AQUI PARA QUE LA LETRA ESTE CHICA Y SE HAGA GRANDE EN DESKTOP Y SE AJUSTE
        */
    }
}
@media (min-width: 1085px) {  
    .logo{
        width: 250px;
    }
    .top-header, .main-navbar{
        margin: auto;
        max-width: 1085px;
    }
    .copy-header{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 0;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }
}